.todo-item {
    color: rebeccapurple;
}

.todo-item-done {
    text-decoration: line-through;
}

/* will be attached to global scope, if in default css file instead of css module */
/* li {

} */
/* label {
    color: red;
} */
